# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
*.egg-info/

# Environment variables
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

data/*
!data/.gitkeep
!data/locations.csv
*.db
.env
